body{
    
    background: linear-gradient(90deg, rgba(10,93,176,1) 0%, rgba(3,45,89,1) 35%, rgba(0,23,48,1) 100%);
}

main{
    max-width: 2560px;
    margin:auto;
}

.navbar, .footer {
    background-color: black;
}


.navbar-link, .sidenav-link {
    color: #E89910 !important;
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    padding: 0 1rem !important;
}

.navbar{
    height: 100px !important;
}

.navbar-logo{
    height: 80px !important;
}

.btn{
    margin-left: auto;
    margin-right: 0;
    background-color: #977033;
    color: #E89910;
    font-size: 30px !important;
    height: 60px;
}

.btn-navbar-download{
    font-family: Montserrat, sans-serif;
    position: relative;
    top: -11px;
}

.top-histoire{
    margin: 50px 5% 5%;
    width: 90%;
    height: 50em;
    background: url("../images/AniphissMonsters_logo.png") no-repeat;
    background-size: contain;
    position: relative;
    z-index: 9;
    background-position: center;
    background-color: transparent;
}


.histoire-txt-title{
    font-family: Montserrat, sans-serif;
    color: #E89910;
    font-size: 90px !important;
    position: absolute;
    left: 55px;
    bottom: 55px;
}
.history-block{
    text-align: center;
    font-weight: 400;
    margin-top: 80px;
}

.gold-text-history{
    color: #E89910 !important;
    font-family: Montserrat, sans-serif;
    font-size: 29px;
    width: 80%;
    margin : auto;
    text-align: center;
    margin-bottom: 5%;
}

.flex-history-1{
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    max-height: 800px;
}

.flex-history-2{
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    max-height: 800px;
}

.img-flex-history {
    padding: 1%;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.text-flex-history-1 {
    padding: 1%;
    text-align: left;
    width: max-content;
    margin : auto;
    color : white;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    width: 25%;
}

.text-flex-history-2 {
    padding: 1%;
    text-align: right;
    width: max-content;
    margin : auto;
    color : white;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    width: 25%;
}

.img-history-1{
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.img-history-2{
    width: 100%;
    height: 100%;
    padding-right: 5%;
}


@media only screen and (min-width : 768px) and (max-width: 1080px) { /*tablette*/
    /* Styles pour cette Media Queries */
    .img-flex-history {
        width: 50%;
    }

    .text-flex-history-1 {
        width: 50%;
        text-align: center;
    }

    .text-flex-history-2 {
        width: 50%;
        text-align: center;
    }

    .img-flex-history .img-history-1{
        width: 100%;
        padding-left : 0%;
    }

    .img-flex-history .img-history-2{
        width: 100%;
        padding-right: 0%;
    }
}


@media only screen and (min-width : 768px) and (max-width: 1080px) and (orientation: landscape){ /*tablette*/
    /* Styles pour cette Media Queries */
    
    .image-top-histoire img{
        width: 80%;
    }
    .img-flex-history {
        width: 50%;
    }

    .top-histoire {
        height: 500px !important;
        margin-top: 25px;
    }

    .gold-text-history {
        color: #E89910 !important;
        font-family: Montserrat, sans-serif;
        font-size: 22px;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 100px;
    }

    .histoire-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 70px !important;
        position: absolute;
        left: 55px;
        bottom: 55px;
    }

    .text-flex-history-1 {
        width: 50%;
        text-align: left;
        font-size: 22px;
    }

    .text-flex-history-2 {
        width: 50%;
        text-align: right;
        font-size: 22px;
    }

    .img-flex-history .img-history-1{
        width: 100%;
        padding-left : 4%;
    }

    .img-flex-history .img-history-2{
        width: 100%;
        padding-right: 4%;
    }
}

@media only screen and (min-width : 768px) and (max-width: 1080px) and (orientation: portrait){ /*tablette*/
    /* Styles pour cette Media Queries */

    .histoire-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 60px !important;
        position: absolute;
        left: 55px;
        bottom: 55px;
    }

    .top-histoire{
        margin-bottom: 10%;
        height: 500px;
        margin-top: 0px;
    }

    .gold-text-history{
        margin-bottom: 13%;
        font-size: 27px;
    }
    
    
    .image-top-histoire img{
        width: 80%;
    }
    .flex-history-1{
        flex-direction: column-reverse;
        max-height: none;
    }

    .flex-history-2{
        flex-direction: column;
        max-height: none;
    }

    .text-flex-history-1 {
        width: 90%;
        text-align: center;
        font-size: 27px;
    }

    .text-flex-history-2 {
        width: 90%;
        text-align: center;
        font-size: 27px;
    }

    .img-flex-history {
        width: 80%;
        margin : auto;
        margin-bottom: 100px;
    }

    .img-flex-history .img-history-1{
        width: 100%;
        padding-left : 0%;
    }

    .img-flex-history .img-history-2{
        width: 100%;
        padding-right: 0%;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){ /*telephone*/
    /* Styles pour cette Media Queries */
    .image-top-histoire img{
        width: 90%;
    }

    .top-histoire{
        height: 30em;
        margin-top: 0px;
    }

    .gold-text-history{
        font-size: 22px;
    }
    .histoire-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 45px !important;
        position: absolute;
        left: 20px;
        bottom: 55px;
    }

    .flex-history-1{
        flex-direction: column-reverse;
        max-height: none;
        margin-bottom: 20px;
    }

    .flex-history-2{
        flex-direction: column;
        max-height: none;
    }

    .text-flex-history-1 {
        font-family: Montserrat, sans-serif;
        font-size: 22px;
        width: 80%;
        margin: auto;
            margin-bottom: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    .text-flex-history-2 {
        font-family: Montserrat, sans-serif;
        font-size: 22px;
        width: 80%;
        margin: auto;
            margin-bottom: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    .text-flex-history {
        width: 90%;
    }

    .img-flex-history {
        width: 90%;
        margin : auto;
        margin-bottom: 100px;
    }

    .img-flex-history .img-history-1{
        width: 100%;
        padding-left : 0%;
    }

    .img-flex-history .img-history-2{
        width: 100%;
        padding-right: 0%;
    }
}
