#title {
    text-align: center;
}

#title-deco {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

main {
    background-image: url(https://www.monsterhunter.com/stories2/assets/images/common/bg_game.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grille {
    margin: 5%;
}

.img-title {
    position: relative;
    text-align: center;
    color: blue;
}

.title {
    position: relative;
    bottom: 80px;
    left: 20px;
    font-size: 50px;
    color: darkgoldenrod;
}

#monsters-description {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(https://www.monsterhunter.com/stories2/assets/images/common/bg_game_caption.jpg);
}

#monsters-img {
    flex-basis: 100%;
}

#monsters-img img {
    max-width: 100%;
    min-width: 200px;
}

.monsters-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-check {
    padding: 6px;
}

.card-content {
    margin-top: -25px;
}