body{
    
    background: linear-gradient(90deg, rgba(10,93,176,1) 0%, rgba(3,45,89,1) 35%, rgba(0,23,48,1) 100%);
}

main{
    max-width: 2560px;
    margin:auto;
}

.navbar, .footer {
    background-color: black;
}

.navbar-link, .sidenav-link {
    color: #E89910 !important;
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    padding: 0 1rem !important;
}

.navbar{
    height: 100px !important;
}

.navbar-logo{
    height: 80px !important;
}

.btn{
    margin-left: auto;
    margin-right: 0;
    background-color: #977033;
    color: #E89910;
    font-size: 30px !important;
    height: 60px;
}

.btn-navbar-download{
    font-family: Montserrat, sans-serif;
    position: relative;
    top: -11px;
}

.top-map{
    margin: 25px 5% 5%;
    width: 90%;
    height: 50em;
    background: url("../images/AniphissMonsters_logo.png") no-repeat;
    background-size: contain;
    position: relative;
    z-index: 9;
    background-position: center;
    background-color: transparent;
}




.map-txt-title{
    font-family: Montserrat, sans-serif;
    color: #E89910;
    font-size: 90px !important;
    position: absolute;
    left: 55px;
    bottom: 55px;
}

.map-block{
    text-align: center;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 80px;
}

.img-map{
    width: 90%;
}

.to-display {
    display: block;
}

.to-hide {
    display: none;
}

.sidenav {
    width: 100%;
    height: 100%;
    aspect-ratio: 2;
    margin-top: calc(6rem + 2px);
    padding: 0;
    background-color: hsla(0, 0%, 0%, 0.53);
    text-align: center;
}


@media only screen and (min-width : 768px) and (max-width: 1080px) and (orientation: landscape){ /*tablette*/
    /* Styles pour cette Media Queries */
    
    .image-top-map img{
        width: 80%;
    }

    .top-map {
        height: 500px !important;
        margin-top: 25px;
    }

    .map-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 70px !important;
        position: absolute;
        left: 55px;
        bottom: 55px;
    }

    .img-map {
        width: 90%;
    }
}

@media only screen and (min-width : 768px) and (max-width: 1080px) and (orientation: portrait){ /*tablette*/
    /* Styles pour cette Media Queries */

    .map-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 60px !important;
        position: absolute;
        left: 55px;
        bottom: 55px;
        text-align: center;
    }

    .top-map{
        margin-bottom: 10%;
        height: 500px;
        margin-top: 0px;
    }

   
    .image-top-map img{
        width: 80%;
    }

    .img-map {
        width: 90%;
    }

    .to-hide {
        display: block !important;
    }
    
    .to-display {
        display: none !important;
    }

    .sidenav .sidenav-header .sidenav-logo {
        height: 8rem;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { /*telephone*/
    /* Styles pour cette Media Queries */
    .image-top-map img{
        width: 90%;
    }

    .top-map{
        height: 30em;
        margin-top: 0px;
    }
    .map-txt-title {
        font-family: Montserrat, sans-serif;
        color: #E89910;
        font-size: 45px !important;
        position: absolute;
        left: 20px;
        bottom: 55px;
        text-align: center;
    }

    .map-block {
        text-align: center;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .img-map {
        width: 90%;
    }

    .to-hide {
        display: block;
    }

    .to-display {
        display: none;
    }

    .sidenav .sidenav-header .sidenav-logo {
        height: 8rem;
    }
}